In [1]:
# Python Task 1
import random
random.seed(110235171)

In [2]:
# Python Task 2
from example_dfa import ExampleDFA
my_dfa = ExampleDFA.one()
print(my_dfa.bfs())
print(my_dfa.reachable_state_names)
print(my_dfa.unreachable_state_names)

{'S1': True, 'S2': True, 'S3': True, 'S4': True}
['S1', 'S2', 'S3', 'S4']
['S5']

In [3]:
# Python Task 3
my_dfa = ExampleDFA.three()

In [4]:
# Python Task 4
# BFS is run when DFA is constructed
my_dfa.table_df

        0    1
S0     S7  S13
S1     S1  S22
S2     S6   S6
S4     S9  S23
S5     S2   S0
S6    S24   S0
S7    S19  S11
→S8    S8  S15
S9     S7  S25
*S10   S2   S5
S11   S16   S9
S12   S24   S0
S13    S1  S15
S14   S13  S10
S15    S6   S5
S16   S18  S12
S17   S15  S20
S18   S10   S8
S19   S14  S26
S20    S8  S25
S21    S8  S26
S22   S17   S2
S23    S8  S25
*S24  S17  S20
*S25   S4  S21
S26   S19  S26

In [5]:
# Python Task 4
print(my_dfa.reachable_state_names)
print(my_dfa.unreachable_state_names)

['S0', 'S1', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S2', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25', 'S26', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9']
['S3']

In [6]:
# Python Task 5
# Python Task 6
import copy
my_dfa_minimized = copy.deepcopy(my_dfa)
my_dfa_minimized.state_minimisation()
my_dfa_minimized.table_df

                  0          1
S0               S7        S13
S1               S1        S22
S2         {S12,S6}   {S12,S6}
S4               S9  {S20,S23}
S5               S2         S0
S7              S19        S11
→S8              S8        S15
S9               S7        S25
*S10             S2         S5
S11             S16         S9
S13              S1        S15
S14             S13        S10
S15        {S12,S6}         S5
S16             S18   {S12,S6}
S17             S15  {S20,S23}
S18             S10         S8
S19             S14        S26
S21              S8        S26
S22             S17         S2
*S24            S17  {S20,S23}
*S25             S4        S21
S26             S19        S26
{S12,S6}        S24         S0
{S20,S23}        S8        S25

In [7]:
# Python Task 7
print(my_dfa.check_membership(""))
print(my_dfa.check_membership("1111"))
print(my_dfa.check_membership("0000"))
print(my_dfa.check_membership("010101010"))
print(my_dfa.check_membership("110011"))

False
False
False
True
False

In [8]:
# Python Task 8
from bruteforce import BruteForcer
BruteForcer.bruteforce_dfa_check_string_membership(my_dfa, my_dfa.alphabet)

'100'

In [9]:
# Python Task 9
print(my_dfa_minimized.check_membership(""))
print(my_dfa_minimized.check_membership("1111"))
print(my_dfa_minimized.check_membership("0000"))
print(my_dfa_minimized.check_membership("010101010"))
print(my_dfa_minimized.check_membership("110011"))

False
False
False
True
False

In [10]:
# Python Task 9
BruteForcer.bruteforce_dfa_check_string_membership(my_dfa_minimized, my_dfa_minimized.alphabet)

'100'

In [11]:
# Python Task 10
# Python Task 11
my_dfa.equivalence_test(my_dfa_minimized)

True

In [12]:
# Report
# 1. Start: [S8], Final: [S10, S24, S25]
# 2. Unreachable: [S3]
# 3. 24 States in the Minimum DFA
# 4. 3 Final States
# 5. "010101010" is in the language, all other examples are not
# 6. "100" was the "random" string that waas found to be in the language of the DFA. Personally I chose to just opt for a bruce forcer so I could find a minimum string in the DFA.
# 7. I calculated my equivalence a little different to the way it was done in Algorithm 1 as described in the lecture slides. However, if I were to have constructed a full product DFA as described in the lecture slides, the accept states in my product DFA would have been any pairs where one state was a final state and one state was not a final state. However the way I calculated my product DFA, the final states were the pairs (S10, S10) (S24, S24) and (S25, S25).